body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.activeLink {
    .iconNavbar {
        color: #3f51b5;
    }
}